<mat-toolbar>
  <span>Ajouter note</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="depotNoteService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input type="number" step="0.25" min="0" max="20" formControlName="note" matInput placeholder="Ajouter le note">
          <mat-error>Ce champ est obligatoir !!</mat-error>
        </mat-form-field>
              <br>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" >AJOUTER</button>
            </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>    

</form>
